/*********************** Tag ******************************/
body {
  background-color: lightblue;
  margin: 0;
}

h1 {
  margin: 0;
  text-align: center;
  color: #66BFBF;
  line-height: .5;
}

h2{
  color: #66BFBF;
  font-weight: normal;
  line-height: .5;
}

h3{
  color: #11999E;
}

a{
  color: #11999E;
}

/************************* Class ***************************/
.skill-row p{
  text-align: left;
  line-height: 2;
}

.skill-row{
  /*text-align: left;*/
  margin: 55px auto;
  width: 49.5%;
  /*display: inline-block;*/
}

.doc{
  margin-right: 30px;
  float: left;
  width: 180px;
  height: 180px;
}

.eyes{
  margin-left: 30px;
  float: right;
  height: 180px;
  width: 180px;
}

.profile{
  border-style: solid;
  border-width: 15px 0 0;
  border-color: brown;
}

.profpic{
  position: relative;
  top: 10px;
}

.text{
  font-family: verdana, sans-serif;
  font-size: 2em;
}

.top-cloud{
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 200px;
  top: 200px;
}

.mountain{
  top: 10px;
  position: relative;
}

.topcontainer {
  padding-top: 75px;
  position: relative;
  border-width: 0 0 10px 0;
  border-color: darkgreen;
  border-style: solid;
}
/*
.middlecontainer {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 119px;
  left: 119px;
}
*/
.bottomcontainer {
  position: relative;
}

/************************** ID ******************************/
